<aside class="large-3 columns">
  <ul class="side-nav">
      <li> <%= gravatar_for(@user)%> </li>
      <li><b>Name:</b> <%= @user.name %></li>
      <li><b>Email:</b> <%= @user.email %></li>
      <li><%= link_to 'Reset Password', new_user_password_path(@user) %></li>
  </ul>

  <div class="panel">
    <h5>User bio</h5>
    <p>I am an excellent deal-maker and deal committer!</p>
  </div>
</aside>


