

   <aside class="large-3 columns">

          <h1>Profile</h1>
          <ul class="side-nav">
              <li class="gravatar"><%= image_tag @user.gravatar_url %></li>
              <li><b>Name:</b> <%= @user.name %></li>
              <li><b>Email:</b> <%= @user.email %></li>
              <li><%= link_to 'Reset Password', new_user_password_path(@user) %></li>
          </ul>

          <div class="panel">
            <h5>Summary</h5>
            <p>I am the admin of all administrators. HA!  You wish you had the administration of me, ADMin of Admins.</p>

          </div>

        </aside>


      </div>


