<div class="deal-show">
  <div class="row">
    <div class="large-12 columns profile-page">

      <%= render 'profile' %>

      <div class="large-9 columns">
        <div class="panel">
          <h1>Posted Deals</h1>
            <% if @user.owned_deals %>
              <% @user.owned_deals.each do |deal| %>
                <p><%= link_to deal.title, deal %></p>
              <% end %>
            <% else %>
              Nothing here
            <% end %>

            <h1>Committed Deals</h1>
              <% if @user.deals %>
                <% @user.deals.uniq.each do |deal| %>
                  <p><%= link_to deal.title, deal %></p>
                <% end %>
              <% else %>
                Nothing here
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
