<div class="deal-show about">
  <div class="row">
    <div class="large-12 small-12 columns">

      <h1>UFundIt</h1>

      <h3>Vision</h3>

      <p>The world isn't far off from a day when people have the tools, encouragement, and necessary push to follow their passions. IgniteBot enables anyone to share an opportunity with their networks to take advantage of pooled resources and economies of scale. UFundIt provides the tools for easy project tracking and payment.</p>

      <h3>Who It's For</h3>

      <p>Individuals, small business owners and entrepreneurs can use the tool to collaborate, secure product demand, and grow their customer base. Deals can be public or private. You set the goal and number of commitments needed to ignite your idea!</p>

      <h3>Collaborators</h3>

      <ul>
        <li><a href="http://www.marydickson.com">Mary Dickson</a></li>
        <li><a href="http://www.amykang.net/">Amy Kang</a></li>
        <li><a href="https://github.com/brayzen">Brian Ray</a></li>
      </ul>

    </div>
  </div>
</div>
