The following deals have been flagged for review:

<table>
  <tbody>
    <% @deals.where(flag: true).each do |deal| %>
      <tr>
        <td><%= link_to deal.title, deal_path(deal) %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to "Unflag", unflag_deal_path(deal), method: :patch %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
