<div class="deal-show">
  <div class="row">
    <div class="large-12 small-12 columns deal-form">
      <h1>Editing Update</h1>

      <%= render 'form' %>

      <%= link_to 'Back', @deal %>
    </div>
  </div>
</div>
