@import url(https://fonts.googleapis.com/css?family=Passion+One);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  background: #EBEBD3 !important;
}

/* Flash message styles */

.alert-box {
  position: relative;
  border-radius: 0 !important;
  margin-bottom: 0;
  text-align: center;
  border: none !important;
  font-weight: bold !important;
  color: #575743 !important;
  z-index: 75;
}

.notice {
  background: #D4FFAD!important;
}

.error {
  background: #FF6B35 !important;
}

/* navbar styles */

nav {
  padding-top: 10px;
  height: 65px !important;
  background: #fff !important;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.33);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.33);
  li a {
    color: #EF7B45 !important;
    font-weight: bold !important;
    font-size: 15px !important;
    background: #fff !important;
  }
  .has-form {
    background: #fff !important;
  }
  .divider {
    opacity: 0.15;
  }
  .search {
    background: #7C8D9B;
    &:hover {
      background: #94A9BB;
    }
  }
}

.top-bar {
  width: 100% !important;
  background: #FFFFF2;
  height: 75px;
  z-index: 200;
  h1 {
    a {
      font-family: 'Passion One', cursive !important;
      font-size: 2rem !important;
      font-weight: normal !important;
      color: #7C8D9B!important;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}

/* Front page billboard styles */
.billboard {
  position: relative;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 25px;
  width: 100%;
  height: 450px;
  background: image-url("deal.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1 {
    font-family: 'Passion One', cursive;
    position: absolute;
    top: 125px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    color: #fff;
    z-index: 50;
    font-size: 4rem;
    p {
      font-size: 20px;
      font-family: 'Roboto', sans-serif !important;
    }
  }
  .sign-up-btn {
    font-family: 'Passion One', cursive;
    position: absolute;
    background: #D6FDB2;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top: 255px;
    width: 225px;
    padding: 10px;
    z-index: 50;
    &:hover {
      background: #A7D9C3;
    }
  }
  .welcome {
    font-family: 'Passion One', cursive;
    position: absolute;
    font-size: 2rem;
    left:0;
    right:0;
    color: #fff;
    margin-left:auto;
    margin-right:auto;
    top: 255px;
    padding: 10px;
    z-index: 50;
  }
  .text-container {
    height: 450px;
    width: 100%;
    background: #94A9BB;
    opacity: 0.9;
  }
}

/* index page admin box */
#flags {
  color: red;
  background: #D6FDB2;
}

/* user page commit boxes */
#committed_to {
  border: 2px black solid;
}

#deals {
  border: 2px black solid;
}

/* BG color for progress bar. */
#graph svg {
  background: #D5D5CA;
}

/* row CSS for Deal boxes on index page. */
.deal-boxes {
  font-family: 'Roboto', sans-serif !important;
  h4 {
    font-family: 'Passion One', cursive;
    margin-bottom: 10px;
    color: #434335;
  }
  h5 {
    font-family: 'Passion One', cursive;
  }
  .sub-title {
    font-size: 30px;
  }
}

/* Deal boxes on index page have max height */
.boxes {
  min-height: 410px;
  max-height: 410px;
  max-width: 320px;
  border: 1px solid #94A9BB;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 10px 0px rgba(50, 50, 50, 0.75);
  padding: 20px;
  margin: 5px;
}

.image-box {
  height: 200px;
  width: 290px;
  overflow: hidden;
}

/* Row of closed deals on front page */
.closed-boxes {
  font-family: 'Roboto', sans-serif !important;
  clear: both;
  position: relative;
  top: 40px;
  h5 {
    font-family: 'Passion One', cursive;
  }
}

/* footer styles */
footer {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  font-weight: bold;
  margin-top: 100px;
  height: 200px !important;
  width: 100%;
  background: #94A9BB;
  padding-top: 75px;
  text-align: center;
}
