/* Styles for Deal Show page */

.deal-show {
  margin-top: 50px;
}

.deal-large-image {
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.main-deal-box {
  border: 5px solid #D6FDB2;
  padding: 10px;
  font-family: 'Roboto', sans-serif !important;
}

.deal-owner-name {
  font-family: 'Roboto', sans-serif !important;
  font-size: 20px;
}

.panel {
  font-family: 'Roboto', sans-serif !important;
  border: 1px solid #CCCCB2 !important;
  background: #fff !important;
  h4 {
    font-family: 'Passion One', cursive;
    margin-bottom: 10px;
    color: #434335;
    font-size: 2rem;
  }
  .deal-button {
    font-family: 'Passion One', cursive;
    background: #B4656F;
    &:hover {
      background: #469378;
    }
    &:visited {
      color: #fff !important;
    }
  }
  .location-time {
    margin-top: 10px;
    font-family: 'Passion One', cursive;
    font-size: 1.5rem;
  }
}

.leave-comment {
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold !important;
  font-size: 1rem;
}

.comment-button {
  font-family: 'Passion One', cursive !important;
  background: #7C8D9B !important;
  &:hover {
    background: #94A9BB !important;
  }
}

.backers {
  h4 {
    font-family: 'Passion One', cursive !important;
    font-size: 2rem;
    color: #434335;
  }
}

#comments {
  p {
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    margin: 10px;
    line-height: 25px;
  }
  h4 {
    font-family: 'Passion One', cursive !important;
    font-size: 2rem;
    color: #434335;
  }
}

#edit-options {
  margin-top: 50px;
}
